
html {
    min-height: 100%;
}

body {
    background: orange;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.jumbotron {
    border-bottom: 1px solid blue;
}

#smaller {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.lead {
    font-size: 1.75em;
    color: blue;
}

#images img:hover {
    cursor: pointer;
}

#addNewButton {
    background-color: orange;
    color: white;
}
